<template>
  <one-column-template>
    <template slot="main">
      <search-hero />
      <section class="popular">
        <popular-items />
        <div class="user">
          Hello, {{ displayMessage }}
        </div>
        <div class="user-status">
          {{ $store.getters.isUserLoggedIn }}
        </div>
      </section>
    </template>
  </one-column-template>
</template>

<script>
  import OneColumnTemplate from '../templates/OneColumnTemplate.vue';
  import SearchHero from '../organisms/SearchHero.vue';
  import PopularItems from '../organisms/PopularItems.vue';

  export default {
    name: 'Home',
    mounted () {
      console.log(this.$store.state.formStore.firstName);
    },
    computed: {
      displayMessage() {
        return this.$store.state.user ? this.$store.state.user : 'Anonymous';
      }
    },
    components: {
      PopularItems,
      SearchHero,
      OneColumnTemplate,
    },
  }
</script>

<style scoped lang="scss">
  .popular {
    padding-top: 30px;
  }
</style>