<template>
  <div class="details">
    This is a movie detail page for movie ID: {{ $route.params.id }}

    Language query param: {{ $route.query.lang }}

    <div class="child-page">
      <router-view></router-view>
      <router-link :to="`/movie/${$route.params.id}/actors`">Actors</router-link>
      <router-link :to="`/movie/${$route.params.id}/ratings`">Ratings</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MovieDetailPage'
}
</script>

<style scoped>

</style>