<template>
  <div class="page">
    <page-header />
    <div class="page__main">
      <slot name="main"></slot>
    </div>
    <footer class="page__footer">
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<script>
  import PageHeader from '../organisms/PageHeader.vue';

  export default {
    name: 'HomeTemplate',
    components: {
      PageHeader,
    },
  }
</script>

<style scoped lang="scss">
  .page {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__main {
      max-width: 1300px;
      width: 100%;
      margin-top: 64px;
    }
  }
</style>