<template>
  <div class="page">
    <div class="page__header">
      <slot name="header"></slot>
    </div>
    <div class="page__content">
      <div class="page__column">
        <slot name="left-column"></slot>
      </div>
      <div class="page__main">
        <slot name="main"></slot>
      </div>
    </div>
    <footer class="page__footer">
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<script>
  import PageHeader from '../organisms/PageHeader.vue';

  export default {
    name: 'TwoColumnTemplate',
    components: {
      PageHeader,
    },
  };
</script>

<style scoped lang="scss">
  .page {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
      max-width: 1300px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__column {
      max-width: 260px;
      width: 100%;
    }

    &__main {
      max-width: 930px;
      width: 100%;
    }
  }
</style>