<template>
  <div id="movieapp">
    <router-view></router-view>
    <RouterLink to="/">Home</RouterLink>
    <RouterLink to="/movies">Movies</RouterLink>
    <RouterLink to="/movie/1">Movie 1</RouterLink>
    <RouterLink to="/movie/50">Movie 50</RouterLink>
    <RouterLink to="/dashboard">Dashboard</RouterLink>
  </div>
</template>

<script>
  export default {
    name: 'App',
  };
</script>

<style scoped>

</style>