html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  min-height: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

input[type=search] {
  box-sizing: border-box;
}

#movieapp {
  height: 100%;
}