<template>
  <p>{{ formattedDate }}</p>
</template>

<script>
  import moment from 'moment';

  export default {
    name: 'DateSubtitle',
    props: {
      date: {
        type: String,
        required: true,
      },
      format: {
        type: String,
        default: 'MMM DD, YYYY'
      },
    },
    computed: {
      formattedDate() {
        const date = moment(this.date, 'YYYY-MM-DD', true);
        if (!date.isValid()) {
          return 'Unknown date';
        }

        return date.format(this.format);
      },
    },
  };
</script>

<style scoped lang="scss">
  p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.6);
  }
</style>