<template>
  <img :src="url" :alt="alt">
</template>

<script>
  export default {
    name: 'DiscoverImage',
    props: {
      url: {
        type: String,
        required: true,
      },
      alt: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style scoped lang="scss">
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
</style>