<template>
  <h2 class="discover-title">
    <a class="discover-title__link" :href="link" :title="title">{{ title }}</a>
  </h2>
</template>

<script>
  export default {
    name: 'DiscoverTitle',
    props: {
      title: {
        type: String,
        required: true,
      },
      link: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  .discover-title {
    font-size: 1em;
    margin: 0;
    overflow-wrap: break-word;

    &__link {
      font-weight: 700;
      color: #000;
      text-decoration: none;
    }
  }
</style>