<template>
  <span></span>
</template>

<script>
  export default {
    name: 'GlyphIcon',
  }
</script>

<style scoped lang="scss">
  span {
    position: relative;
    display: block;
    min-width: 1em;
    min-height: 1em;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-color: transparent;

    &.icon-plus {
      background-image: url(../../icons/glyph-icons/icon-plus.black.svg);

      &--white {
        background-image: url(../../icons/glyph-icons/icon-plus.black.svg);
        filter: invert(1);
      }
    }

    &.icon-search {
      background-image: url(../../icons/glyph-icons/icon-search.black.svg);

      &--white {
        filter: invert(1);
      }

      &--blue {
        background-image: url(../../icons/glyph-icons/icon-search.blue.svg);
      }
    }

    &.icon-screen {
      background-image: url(../../icons/glyph-icons/icon-screen.black.svg);
    }

    &.icon-film {
      background-image: url(../../icons/glyph-icons/icon-film.black.svg);
    }

    &.icon-close {
      background-image: url(../../icons/glyph-icons/icon-close.black.svg);

      &--white {
        filter: invert(1);
      }
    }

    &.icon-more {
      background-image: url(../../icons/glyph-icons/icon-more.white.svg);
    }

    &.icon-chevron-right {
      background-image: url(../../icons/glyph-icons/icon-chevron-right.svg);
    }
  }
</style>