<template>
  <h2>{{ text }}</h2>
</template>

<script>
export default {
  name: 'HeroTitle',
  props: {
    text: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
  h2 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    width: 100%;
    margin: 0;
    padding: 0;
  }
</style>