<template>
  <h3>{{ text }}</h3>
</template>

<script>
export default {
  name: 'HeroSubtitle',
  props: {
    text: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
  h3 {
    font-size: 2em;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding: 0;
  }
</style>