<template>
  <span v-on="$listeners"></span>
</template>

<script>
export default {
  name: 'Icon',
};
</script>

<style scoped lang="scss">
  span {
    text-align: center;
    cursor: pointer;
    width: 1em;
    height: 1em;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: "WebComponentsIcons";
    line-height: 1;
    speak: none;
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    &:before {
      vertical-align: baseline;
    }

    &.icon {
      &-arrow:before {
        content: "\e006";
      }

      &-zoom:before {
        content: "\e13e";
      }

      &-close:before {
        content: "\e11b";
      }

      &-loading {

        &:before,
        &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          display: inline-block;
          content: "";
          box-sizing: inherit;
          border-radius: 50%;
          border-width: .05em;
          border-style: solid;
          border-color: currentColor;
          border-top-color: transparent;
          border-bottom-color: transparent;
          background-color: transparent;
        }

        &:before {
          content: "";
          margin-top: -.5em;
          margin-left: -.5em;
          width: 1em;
          height: 1em;
          animation: loading-animation .7s linear infinite;
          animation-duration: 0.7s;
          animation-timing-function: linear;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-fill-mode: none;
          animation-play-state: running;
          animation-name: loading-animation;
        }

        &:after {
          margin-top: -.25em;
          margin-left: -.25em;
          width: .5em;
          height: .5em;
          animation: loading-animation reverse 1.4s linear infinite;
        }
      }
    }

    @keyframes loading-animation {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
      }
    }
  }
</style>