<template>
  <span>{{ language }}</span>
</template>

<script>
  export default {
    name: 'LanguageSelectedItemLabel',
    props: {
      language: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  span {
    padding: .375rem .75rem;
    width: 100%;
    min-width: 0;
    height: calc(0.75rem + 1.5em);
    box-sizing: border-box;
    border: 0;
    outline: 0;
    color: inherit;
    background: none;
    font: inherit;
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
</style>