<template>
  <div v-on="$listeners">{{ langCode }}</div>
</template>

<script>
  export default {
    name: 'LanguageButton',
    props: {
      langCode: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  div {
    width: 28px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 3px 5px;
    transition: linear .1s;
    color: #fff;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      color: rgba(3, 37, 65, 1);
      background-color: rgb(255, 255, 255);
    }
  }
</style>