<template>
  <span v-on="$listeners">{{ label }}</span>
</template>

<script>
  export default {
    name: 'LanguageSelectLabel',
    props: {
      label: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  span {
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
  }
</style>