<template>
  <input
    role="listbox"
    type="text"
    :value="value"
    v-on="$listeners"
    ref="input"
  >
</template>

<script>
  export default {
    name: 'LanguageSearchInput',
    props: {
      value: {
        type: String,
        default: '',
      },
    },
    mounted() {
      this.$refs.input.focus();
    },
  }
</script>

<style scoped lang="scss">
  input {
    width: 100%;
    box-sizing: border-box;
    border-color: rgba(33, 37, 41, 0.15);
    outline: none;
    padding: .375rem calc(16px + 1rem) .375rem .75rem;
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: .25rem;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    background: none;
    display: inline-flex;
    flex-flow: row nowrap;
    vertical-align: middle;
    position: relative;
    -webkit-appearance: none;

    &:focus {
      border-color: rgb(1, 180, 228);
    }
  }
</style>