<template>
  <span @click="$emit('language-reset')">{{ label }}</span>
</template>

<script>
  export default {
    name: 'LanguageReset',
    props: {
      label: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  span {
    font-weight: 300;
    color: #292b2c;
    cursor: pointer;
  }
</style>