<template>
  <h2>{{ title }}</h2>
</template>

<script>
  export default {
    name: 'LanguageSwitcherTitle',
    props: {
      title: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  h2 {
    line-height: 1;
    font-size: 1.3em;
    margin: 0 0 12px 0;
    font-weight: 700;
    padding: 0;
    color: #292b2c;
  }
</style>