<template>
  <label>{{ text }}</label>
</template>

<script>
  export default {
    name: 'ListLabel',
    props: {
      text: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  label {
    font-weight: 600;
    color: #000;
    background-color: transparent;
    font-size: 0.9em;
    padding: 6px 20px;
  }
</style>