<template>
  <a :href="url">
    <img :src="logo" alt="site-logo" :width="width" :height="height" />
  </a>
</template>

<script>
  export default {
    name: 'Logo',
    props: {
      logo: {
        type: String,
        required: true,
      },
      width: {
        type: Number,
        required: true,
      },
      height: {
        type: Number,
        required: true,
      },
      url: {
        type: String,
        default: '/',
      },
    },
  }
</script>

<style scoped lang="scss">
  a {
    display: block;
    outline: none;
  }

  img {
    display: block;
    border: 0;
    outline: none;
  }
</style>