<template>
  <a :href="url" class="main-menu-link" @click.prevent>{{ label }}</a>
</template>

<script>
  export default {
    name: 'MainMenuLink',
    props: {
      label: {
        type: String,
        required: true,
      },
      url: {
        type: String,
        default: '#',
      }
    },
  }
</script>

<style scoped lang="scss">
  .main-menu-link {
    color: #fff;
    font-weight: 600;
    padding: .5rem .5rem;
    outline: 0;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    align-content: center;
    text-decoration: none;
  }
</style>