<template>
  <li class="menu-link">
    <a :href="url" class="menu-link__link" @click.prevent="handleClick">{{ label }}</a>
  </li>
</template>

<script>
  export default {
    name: "MenuLink",
    props: {
      url: {
        type: String,
        required: true,
      },
      label: {
        type: String,
        required: true,
      },
    },
    methods: {
      handleClick() {
        this.$router.push({
          path: this.url
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  .menu-link {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    align-content: center;

    &__link {
      color: #000;
      font-weight: 400;
      padding: 3px calc(3rem + 16px) 3px 1.5rem;
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      align-items: center;
      align-content: center;
      position: relative;
      white-space: nowrap;
      cursor: pointer;
      text-decoration: none;
    }

    &:hover {
      color: #16181b;
      background-color: #f2f2f2;
    }
  }

</style>