<template>
  <li v-on="$listeners">{{ message }}</li>
</template>

<script>
  export default {
    name: 'NoSelectResultsItem',
    props: {
      message: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  li {
    color: rgba(41, 43, 44, 0.5);
    min-height: 138px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    white-space: normal;
  }
</style>