<template>
  <div class="overlay" />
</template>

<script>
  export default {
    name: 'PageOverlay'
  }
</script>

<style scoped lang="scss">
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter: grayscale(100%);
    top: 0;
    left: 0;
  }
</style>