<template>
  <input
    type="search"
    v-model="internalValue"
    :placeholder="placeholder"
    ref="input"
  >
</template>

<script>
  export default {
    name: 'QuickSearchInput',
    props: {
      value: {
        type: String,
        default: '',
      },
      placeholder: {
        type: String,
        default: '',
      },
      focusOnMounted: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        internalValue: this.value,
      };
    },
    mounted() {
      if (this.focusOnMounted) {
        this.$refs.input.focus();
      }
    },
  }
</script>

<style scoped lang="scss">
  input {
    width: 100%;
    height: 44px;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #acacac;
    background: none;

    &::placeholder {
      font-family: Arial, sans-serif;
      font-style: italic;
      font-size: 1em;
      color: #acacac;
    }
  }
</style>