<template>
  <div class="percent">
    <span class="percent__number">{{ number }}</span>
    <span class="percent__sign">%</span>
  </div>
</template>

<script>
  export default {
    name: 'RatingPercent',
    props: {
      number: {
        type: Number,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  .percent {
    display: inline-flex;
    justify-content: center;
    align-items: end;
    background: transparent;
    color: #fff;
    font-size: 0.9em;
    font-weight: bold;

    &__number {
      line-height: 0.95;
    }

    &__sign {
      font-size: 6px;
      font-weight: 300;
    }
  }
</style>