<template>
  <input
    type="search"
    :placeholder="placeholder"
  >
</template>

<script>
  export default {
    name: 'SearchInput',
    props: {
      placeholder: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style scoped lang="scss">
  input {
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;

    &:focus {
      outline: 0;
    }
  }
</style>