<template>
  <button type="submit">{{ label }}</button>
</template>

<script>
  export default {
    name: 'SearchButton',
    props: {
      label: {
        type: String,
        required: true,
      },
    },
  };
</script>

<style scoped lang="scss">
  button {
    height: 46px;
    padding: 10px 26px;
    border: none;
    background: linear-gradient(to right, rgb(30, 213, 169) 0%, rgb(1, 180, 228) 100%);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
  }
</style>