<template>
  <h2 class="title">
    <span
      class="title__text"
      :class="{
        'title__text--alt': altColor,
      }"
    >{{ title }}</span>
  </h2>
</template>

<script>
  export default {
    name: 'SectionTitle',
    props: {
      title: {
        type: String,
        required: true,
      },
      altColor: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style scoped lang="scss">
  .title {
    margin: 0 20px 0 0;
    white-space: nowrap;
    padding: 0;
    font-weight: 600;
    font-size: 1.5em;

    &__text {
      color: #000;

      &--alt {
        color: #fff;
      }
    }
  }
</style>