<template>
  <li
    :class="['select-item',
     {'select-item--selected': selected}]"
    role="option"
    v-on="{
      ...$listeners,
      click: () => $emit('input', {
        langCode: value,
        lang: text,
      }),
    }"
  >{{ text }}</li>
</template>

<script>
  export default {
    name: 'SelectItem',
    props: {
      value: {
        type: String,
        required: true,
      },
      text: {
        type: String,
        required: true,
      },
      selected: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style scoped lang="scss">
  .select-item {
    padding: 3px 1.5rem;
    min-height: 1.5em;
    line-height: 1.5em;
    white-space: normal;
    transition-property: color, background-color, outline-color, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    outline: none;
    color: #212529;

    &:hover {
      color: #16181b;
      background-color: #f2f2f2;
    }

    &--selected {
      color: #000;
      font-weight: 600;
      background-color: #f2f2f2;

      &:hover {
        color: #fff;
        background-color: #01a6d2;
      }
    }
  }
</style>