<template>
  <div class="anchor">
    <h3
      class="anchor__text"
      :class="{ 'anchor__text--alt': altColors }"
    >
      <span
        class="anchor__selector"
        :class="{
          'anchor__selector--alt': altColors,
          'anchor__selector--selected': selected && !altColors,
          'anchor__selector--selected-alt': selected && altColors
        }"
        @click="$emit('click')"
      >{{ text }}</span>
    </h3>
  </div>
</template>

<script>
  export default {
    name: 'ToggleAnchor',
    props: {
      text: {
        type: String,
        required: true,
      },
      selected: {
        type: Boolean,
        default: false,
      },
      altColors: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style scoped lang="scss">
  .anchor {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;

    &__text {
      font-size: 1em;
      padding: 4px 20px;
      margin: 0;
      white-space: nowrap;
      font-weight: 600;
    }

    &__selector {
      cursor: pointer;
      color: rgb(3, 37, 65);

      &--alt {
        color: #fff;
      }

      &--selected {
        background: linear-gradient(to right, rgba(192,254,207, 1) 0%, rgba(30,213,169, 1) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      &--selected-alt {
        color: #fff;
        background: rgb(3, 37, 65);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
  }
</style>