<template>
  <div class="tooltip-content">
    <div
      v-if="withArrow"
      class="tooltip-content__arrow"
    ></div>
    <div class="tooltip-content__content">
      <slot />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TooltipContent',
    props: {
      withArrow: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style scoped lang="scss">
  .tooltip-content {
    position: relative;
    display: inline-block;

    &__arrow {
      width: .8rem;
      height: .8rem;
      border-width: .4rem;
      border-style: solid;
      border-color: transparent;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      border-bottom-color: rgba(255, 255, 255, 1);
      top: -12px;
    }

    &__content {
      color: #000;
      border: 1px solid rgba(33, 37, 41, 0.15);
      border-radius: .25rem;
      max-width: 300px;
      width: 100%;
      text-align: left;
      background-color: #fff;
    }
  }
</style>