<template>
  <div class="create-item">
    <tooltip>
      <template slot="icon">
        <div class="create-item__icon">
          <glyph-icon class="icon-plus icon-plus--white" />
        </div>
      </template>
      <template slot="content">
        <div class="create-item__content">
          <span>Can't find a movie or TV show?</span><br>
          <span>Login to create it.</span>
        </div>
      </template>
    </tooltip>
  </div>
</template>

<script>
  import GlyphIcon from '../atoms/GlyphIcon.vue';
  import Tooltip from './Tooltip.vue';

  export default {
    name: 'CreateMovieTvItem',
    components: {
      Tooltip,
      GlyphIcon,
    },
  }
</script>

<style scoped lang="scss">
  .create-item {
    display: inline-block;
    height: 1.4em;

    &__icon {
      cursor: pointer;
      font-size: 1.4em;
    }

    &__content {
      padding: 0.8rem 0.8rem;
    }
  }
</style>