<template>
  <span class="field">
    <language-search-input :value="value" v-on="$listeners" />
    <span class="field__icon">
      <icon class="icon-zoom" />
    </span>
  </span>
</template>

<script>
  import LanguageSearchInput from '../atoms/LanguageSearchInput.vue';

  export default {
    name: 'LanguageSearchField',
    components: {
      LanguageSearchInput
    },
    props: {
      value: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style scoped lang="scss">
  .field {
    position: relative;
    display: block;

    &__icon {
      position: absolute;
      right: .75rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
</style>