<template>
  <div class="language-select">
    <div class="language-select__title">
      <language-select-label
        :label="label"
        @click="toggleDropdown"
        ref="select-label"
      />
      <language-reset
        v-if="allowReset"
        label="Reset"
      />
    </div>
    <div
      class="language-select__field"
      ref="select-field"
    >
      <language-selected-item
        :language-code="selectedLanguageCode"
        :language="selectedLanguage"
        @click="toggleDropdown"
      />
      <div
        class="language-select__dropdown"
        v-if="dropdownOpen"
      >
        <div class="language-select__search" @mousedown.prevent>
          <language-search-field
            @input="onSearch"
            :value="search"
          />
        </div>
        <select-item-list
          :selected-item="selectedLanguageCode"
          :items="languagesInternal"
          v-on="$listeners"
          @input="onInput"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import LanguageSelectLabel from '../atoms/LanguageSelectLabel.vue';
  import LanguageReset from '../atoms/LanguageReset.vue';
  import LanguageSearchInput from '../atoms/LanguageSearchInput.vue';
  import LanguageSelectedItem from './LanguageSelectedItem.vue';
  import LanguageSearchField from './LanguageSearchField.vue';
  import SelectItemList from './SelectItemList.vue';

  export default {
    name: 'LanguageSelectField',
    components: {
      SelectItemList,
      LanguageSearchField,
      LanguageSelectedItem,
      LanguageSearchInput,
      LanguageReset,
      LanguageSelectLabel,
    },
    props: {
      label: {
        type: String,
        required: true,
      },
      selectedLanguageCode: {
        type: String,
        required: true,
      },
      languages: {
        type: Array,
        required: true,
      },
      allowReset: {
        type: Boolean,
        default: true,
      },
    },
    created() {
      document.body.addEventListener('click', this.documentClickEvent);
    },
    destroyed() {
      document.body.removeEventListener('click', this.documentClickEvent);
    },
    data() {
      return {
        search: '',
        dropdownOpen: false,
        languagesInternal: this.languages,
      };
    },
    computed: {
      selectedLanguage() {
        for (const lang of this.languages) {
          if (lang.value === this.selectedLanguageCode) {
            return lang.text;
          }
        }

        return '';
      },
    },
    methods: {
      toggleDropdown() {
        this.dropdownOpen = !this.dropdownOpen;
      },
      documentClickEvent(event) {
        // Close dropdown if a click outside the component occurs.
        if (
          !event.path.includes(this.$refs['select-field']) &&
          !event.path.includes(this.$refs['select-label'].$el)
        ) {
          this.dropdownOpen = false;
        }
      },
      onInput() {
        this.dropdownOpen = false;
        this.search = '';
        this.languagesInternal = this.languages;
      },
      onSearch(event) {
        this.search = event.target.value;
        const search = event.target.value.toLowerCase();
        this.languagesInternal = this.languages.filter((item) => {
          return item.value.toLowerCase().indexOf(search) !== -1 || item.text.toLowerCase().indexOf(search) !== -1;
        });
      },
    },
  }
</script>

<style scoped lang="scss">
  .language-select {

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &__field {
      position: relative;
    }

    &__dropdown {
      position: absolute;
      border-color: rgba(33, 37, 41, 0.15);
      color: #212529;
      background-color: #fff;
      border-radius: .25rem;
      margin: 0;
      padding: .5rem 0;
      border-width: 1px;
      border-style: solid;
      box-sizing: border-box;
      z-index: 1;
    }

    &__search {
      padding: 1rem;
      min-height: calc(2.75rem + 1.5em);
      box-sizing: border-box;
    }
  }
</style>