<template>
  <span class="select" v-on="$listeners">
    <language-selected-item-label class="select__label" :language="language" :language-code="languageCode" />
    <span class="select__arrow">
      <icon class="icon-arrow" />
    </span>
  </span>
</template>

<script>
  import LanguageSelectedItemLabel from '../atoms/LanguageSelectedItemLabel.vue';
  import Icon from '../atoms/Icon.vue';

  export default {
    name: 'LanguageSelectedItem',
    components: {
      Icon,
      LanguageSelectedItemLabel
    },
    props: {
      language: {
        type: String,
        required: true,
      },
      languageCode: {
        type: String,
        required: true,
      },
    },
  };
</script>

<style scoped lang="scss">
  .select {
    border-radius: .25rem;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    outline: 0;
    transition: color 0.2s ease-in-out,
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    border-color: #e4e4e4;
    color: #212529;
    background-color: #e4e4e4;

    &:hover {
      border-color: #cbcaca;
      background-color: #d1d1d1;
      color: #000;
    }

    &__arrow {
      border-radius: 0 .25rem .25rem 0;
      padding: .375rem .375rem;
      border-width: 0;
      box-sizing: border-box;
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      text-align: center;
      cursor: pointer;
    }
  }
</style>