<template>
  <div class="item">
    <a
      href="#"
      class="item__link"
      @click.prevent
    >{{ text }} <span class="item__icon"><glyph-icon class="icon-chevron-right" /></span></a>
  </div>
</template>

<script>
  import GlyphIcon from '../atoms/GlyphIcon.vue';

  export default {
    name: 'ListItem',
    components: {
      GlyphIcon,
    },
    props: {
      text: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  .item {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 6px 20px;

    &:hover {
      background-color: rgba(3, 37, 65, 1);

      & a {
        color: #fff;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      font-weight: 600;
      background-color: transparent;
      text-decoration: none;
      font-size: 0.9em;
      color: rgba(0, 0, 0, 0.6);
    }

    &__icon {
      font-size: 1.2em;
    }
  }
</style>