<template>
  <li class="menu-item">
    <div class="menu-item__label" @mouseenter="onHover" @mouseleave="onHoverOut">
      <main-menu-link :label="menuData.label" />
    </div>
    <div class="menu-item__links" v-if="showLinks" @mouseenter="onHover" @mouseleave="onHoverOut">
      <menu-link-list :links="menuData.children" />
    </div>
  </li>
</template>

<script>
  import MainMenuLink from '../atoms/MainMenuLink.vue';
  import MenuLinkList from './MenuLinkList.vue';

  export default {
    name: 'MainMenuItem',
    components: {
      MenuLinkList,
      MainMenuLink,
    },
    props: {
      menuData: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        showLinks: false,
      };
    },
    methods: {
      onHover() {
        this.showLinks = true;
      },
      onHoverOut() {
        this.showLinks = false;
      },
    },
  };
</script>

<style scoped lang="scss">
  .menu-item {
    border-width: 0;
    outline: 0;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    align-items: center;
    align-content: center;
    margin-right: 14px;

    &__links {
      overflow: visible;
      z-index: 10002;
      top: 38px;
      left: 0;
      box-sizing: content-box;
      display: block;
      position: absolute;
    }
  }
</style>