<template>
  <ul class="menu-links">
    <menu-link v-for="(link, index) in links" :key="index" :label="link.label" :url="link.url" />
  </ul>
</template>

<script>
  import MenuLink from '../atoms/MenuLink.vue';

  export default {
    name: 'MenuLinkList',
    components: {
      MenuLink,
    },
    props: {
      links: {
        type: Array,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  .menu-links {
    list-style: none;
    border-radius: .25rem;
    margin: 0;
    padding: .5rem 0;
    border: 1px solid rgba(33, 37, 41, 0.15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    font-size: 16px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #212529;
    background-color: #fff;
  }
</style>