<template>
  <div
    class="result-item" @click="$emit('selected', text)"
    @mousedown.prevent
  >
    <div class="result-item__icon">
      <glyph-icon :class="`icon-${icon}`" />
    </div>
    <p class="result-item__text">
      {{ text }}
    </p>
    <p
      v-if="location"
      class="result-item__text result-item__text--light"
    >
      &nbsp;{{ location }}
    </p>
  </div>
</template>

<script>
  import GlyphIcon from '../atoms/GlyphIcon.vue';

  export default {
    name: 'QuickSearchResultItem',
    components: {
      GlyphIcon,
    },
    props: {
      icon: {
        type: String,
        default: 'search',
      },
      text: {
        type: String,
        required: true,
      },
      location: {
        type: String,
        default: '',
      },
    },
  }
</script>

<style scoped lang="scss">
  .result-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    padding: 3px 0 4px 0;
    cursor: pointer;
    user-select: none;

    &__icon {
      margin-right: 6px;
      font-size: 0.9em;
    }

    &__text {
      margin: 0;
      padding: 0;
      font-size: 0.9em;

      &--light {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
</style>