<template>
  <label
    class="field"
    @focusin="setFocused(true)"
    @focusout="setFocused(false)"
  >
    <span class="field__icon">
      <glyph-icon class="icon-search" />
    </span>
    <span class="field__input">
      <quick-search-input
        :value="value"
        :placeholder="placeholder"
        :focus-on-mounted="true"
        @keyup.native="onKeyUp"
      />
    </span>
    <span
      v-if="focused && !loading"
      class="field__reset"
      @mousedown.prevent
    >
      <icon class="icon-close" />
    </span>
    <span
      v-if="loading"
      class="field__loading"
    >
      <icon class="icon-loading" />
    </span>
  </label>
</template>

<script>
  import QuickSearchInput from '../atoms/QuickSearchInput.vue';
  import GlyphIcon from '../atoms/GlyphIcon.vue';
  import Icon from '../atoms/Icon.vue';

  export default {
    name: 'QuickSearchField',
    components: {
      Icon,
      GlyphIcon,
      QuickSearchInput,
    },
    props: {
      value: {
        type: String,
        default: '',
      },
      placeholder: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        focused: false,
        loading: false,
      };
    },
    watch: {
      focused(value) {
        this.$emit('focusChanged', value);
      },
    },
    methods: {
      setFocused(value) {
        this.focused = !!value;
      },
      onKeyUp(event) {
        if (event.keyCode === 27) {
          this.$emit('escPressed');
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  .field {
    display: block;
    position: relative;

    & span {
      display: block;
    }

    &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: text;
      font-size: 1.3em;
    }

    &__input {
      padding: 0 30px;
    }

    &__reset,
    &__loading {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      right: 0;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }

    &__loading {
      opacity: 1;
    }
  }
</style>