<template>
  <div
    class="rating"
  >
    <radial-progress-bar
      :diameter="34"
      :total-steps="100"
      :completed-steps="rating"
      :start-color="circleColor.fill"
      :stop-color="circleColor.fill"
      :stroke-width="2"
      :inner-stroke-width="2"
      :inner-stroke-color="circleColor.empty"
      stroke-linecap="butt"
      :animate-speed="0"
    >
      <rating-percent :number="rating" />
    </radial-progress-bar>
  </div>
</template>

<script>
  import RadialProgressBar from 'vue-radial-progress/src/RadialProgressBar.vue';
  import RatingPercent from '../atoms/RatingPercent.vue';

  export default {
    name: 'RatingCircle',
    components: {
      RatingPercent,
      RadialProgressBar,
    },
    props: {
      rating: {
        type: Number,
        required: true,
      },
    },
    computed: {
      circleColor() {
        if (this.rating < 40) {
          return this.fillColor('#db2360', '#571435');
        }

        if (this.rating < 70) {
          return this.fillColor('#d2d531', '#423d0f');
        }

        return this.fillColor('#21d07a', '#204529');
      },
    },
    methods: {
      fillColor(fill, empty) {
        return {
          fill,
          empty,
        };
      },
    },
  }
</script>

<style scoped lang="scss">
  .rating {
    display: inline-flex;
    padding: 2px;
    border-radius: 50%;
    background-color: #000;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    cursor: default;
  }
</style>