<template>
  <form class="search">
    <label>
      <search-input class="search__input" :placeholder="placeholderText" />
    </label>
    <search-button class="search__btn" :label="btnLabel" />
  </form>
</template>

<script>
import SearchInput from '../atoms/SearchInput.vue';
import SearchButton from '../atoms/SearchButton.vue';

export default {
  name: 'SearchField',
  components: {
    SearchButton,
    SearchInput,
  },
  props: {
    placeholderText: {
      type: String,
      default: '',
    },
    btnLabel: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped lang="scss">
  .search {
    position: relative;

    &__btn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
</style>