<template>
  <ul class="select">
    <select-item
      class="select__item"
      v-for="(item, index) in items"
      :key="index"
      :value="item.value"
      :text="item.text"
      :selected="item.value === selectedItem"
      v-on="$listeners"
      v-if="items.length > 0"
    />
    <no-select-results-item
      v-if="items.length === 0"
      message="NO DATA FOUND"
      @mousedown.prevent
    />
  </ul>
</template>

<script>
  import SelectItem from '../atoms/SelectItem.vue';
  import NoSelectResultsItem from '../atoms/NoSelectResultsItem.vue';

  export default {
    name: 'SelectItemList',
    components: {
      NoSelectResultsItem,
      SelectItem
    },
    props: {
      items: {
        type: Array,
        required: true,
      },
      selectedItem: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  .select {
    height: auto;
    padding: 0;
    margin: 0;
    max-height: 210px;
    overflow-y: auto;
  }
</style>