<template>
  <div class="toggle" :class="{ 'toggle--alt': altColors }">
    <toggle-anchor
      ref="onAnchor"
      :text="labelOn"
      :selected="value"
      @click="$emit('input', true)"
      :alt-colors="altColors"
    />
    <toggle-anchor
      ref="offAnchor"
      :text="labelOff"
      :selected="!value"
      @click="$emit('input', false)"
      :alt-colors="altColors"
    />
    <div
      class="toggle__background"
      :class="{ 'toggle__background--alt': altColors }"
      :style="{
        left: backgroundLeft,
        width: backgroundWidth,
      }"
    />
  </div>
</template>

<script>
  import ToggleAnchor from '../atoms/ToggleAnchor.vue';

  export default {
    name: 'ToggleInput',
    components: {
      ToggleAnchor,
    },
    props: {
      labelOn: {
        type: String,
        required: true,
      },
      labelOff: {
        type: String,
        required: true,
      },
      value: {
        type: Boolean,
        default: true
      },
      altColors: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        backgroundWidth: 0,
        backgroundLeft: 0,
      }
    },
    watch: {
      value: {
        immediate: true,
        handler(value) {
          this.$nextTick(() => {
            if (value) {
              this.backgroundWidth = `${this.$refs.onAnchor.$el.clientWidth}px`;
              this.backgroundLeft = 0;
            } else {
              this.backgroundWidth = `${this.$refs.offAnchor.$el.clientWidth}px`;
              this.backgroundLeft = `${this.$refs.onAnchor.$el.clientWidth}px`;
            }
          });
        },
      },
    },
  }
</script>

<style scoped lang="scss">
  .toggle {
    border: 1px solid rgb(3, 37, 65);
    border-radius: 30px;
    display: inline-flex;
    position: relative;
    background: transparent;
    max-height: 30px;

    &--alt {
      border: 1px solid rgb(30, 213, 169);
    }

    &__background {
      z-index: -1;
      background: rgb(3, 37, 65);
      border-radius: 30px;
      position: absolute;
      top: 0;
      height: 100%;
      pointer-events: none;
      transition: left 0.25s;

      &--alt {
        background: linear-gradient(to right, rgba(192, 254, 207, 1) 0%, rgba(30, 213, 169, 1) 100%);
      }
    }
  }
</style>