<template>
  <div class="tooltip">
    <div
      class="tooltip__icon"
      @click="openPopup"
      ref="icon"
    >
      <slot name="icon" />
    </div>
    <tooltip-content
      class="tooltip__content"
      ref="tooltip"
      v-if="popupOpen"
      :with-arrow="withArrow"
    >
      <slot name="content" />
    </tooltip-content>
  </div>
</template>

<script>
  import TooltipContent from '../atoms/TooltipContent.vue';

  export default {
    name: 'Tooltip',
    components: {
      TooltipContent,
    },
    props: {
      withArrow: {
        type: Boolean,
        default: true,
      },
    },
    data() {
      return {
        popupOpen: false,
      };
    },
    created() {
      document.body.addEventListener('click', this.documentClickEvent);
    },
    destroyed() {
      document.body.removeEventListener('click', this.documentClickEvent);
    },
    methods: {
      openPopup() {
        this.popupOpen = true;
      },
      documentClickEvent(event) {
        // Close tooltip if a click outside the component occurs.
        if (
          this.$refs['icon'] && !event.path.includes(this.$refs['icon']) &&
          this.$refs['tooltip'] && !event.path.includes(this.$refs['tooltip'].$el)
        ) {
          this.popupOpen = false;
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  .tooltip {
    position: relative;
    display: inline-block;

    &__icon {
      display: flex;
    }

    &__content {
      position: absolute;
      z-index: 1;
      margin-top: 10px;
      right: 50%;
      transform: translateX(50%);
      width: 300px;
    }
  }
</style>