<template>
  <div class="discover-item">
    <div class="discover-item__image">
      <a :href="link">
        <discover-image
          :url="imageUrl"
          :alt="imageAlt"
        />
      </a>
      <div class="discover-item__tooltip">
        <discover-tooltip />
      </div>
      <div class="discover-item__rating">
        <rating-circle :rating="rating" />
      </div>
    </div>
    <div class="discover-item__content">
      <discover-title
        :link="link"
        :title="title"
      />
      <date-subtitle :date="date" />
    </div>
  </div>
</template>

<script>
  import DiscoverImage from '../atoms/DiscoverImage.vue';
  import DiscoverTooltip from './DiscoverTooltip.vue';
  import RatingCircle from '../molecules/RatingCircle.vue';
  import DiscoverTitle from '../atoms/DiscoverTitle.vue';
  import DateSubtitle from '../atoms/DateSubtitle.vue';

  export default {
    name: 'DiscoverItem',
    components: {
      DateSubtitle,
      DiscoverTitle,
      RatingCircle,
      DiscoverTooltip,
      DiscoverImage,
    },
    props: {
      title: {
        type: String,
        required: true,
      },
      date: {
        type: String,
        required: true,
      },
      link: {
        type: String,
        required: true,
      },
      imageUrl: {
        type: String,
        required: true,
      },
      imageAlt: {
        type: String,
        default: '',
      },
      rating: {
        type: Number,
        required: true,
      },
    }
  }
</script>

<style scoped lang="scss">
  .discover-item {
    width: 150px;

    &__image {
      position: relative;
      display: flex;
    }

    &__tooltip {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    &__rating {
      position: absolute;
      bottom: -22px;
      left: 10px;
    }

    &__content {
      padding: 26px 10px 0 10px;
    }
  }
</style>