<template>
  <div class="discover-list">
    <div
      class="discover-list__fader"
      :class="{ 'discover-list__fader--hidden': faderHidden }"
      v-if="itemsInternal.length > 0"
    />
    <div
      class="discover-list__wrapper"
      :class="{ 'discover-list__wrapper--loading': loading }"
    >
      <template v-if="itemsInternal.length > 0">
        <div
          class="discover-list__item"
          v-for="(item, index) in itemsInternal"
          :key="index"
          ref="items"
        >
          <discover-item
            :image-url="item.imageUrl"
            :date="item.date"
            :title="item.title"
            :link="item.link"
            :rating="item.rating"
          />
        </div>
        <div class="discover-list__item" />
      </template>
      <template v-if="!firstLoad && itemsInternal.length === 0">
        This panel didn't return any results. Try refreshing it.
      </template>
    </div>
  </div>
</template>

<script>
  import DiscoverItem from './DiscoverItem.vue';

  const intersectionRatio = 0.9;

  export default {
    name: 'DiscoverList',
    components: {
      DiscoverItem,
    },
    props: {
      items: {
        type: Array,
        default: () => [],
      },
    },
    data() {
      return {
        faderHidden: false,
        observer: new IntersectionObserver(this.obsMethod, { threshold: intersectionRatio }),
        ratio: intersectionRatio,
        loading: false,
        itemsInternal: this.items,
        firstLoad: true,
      };
    },
    mounted() {
      if (this.$refs.items && this.$refs.items.length > 0) {
        this.observer.observe(this.$refs.items[0]);
      }
    },
    beforeDestroy() {
      if (this.$refs.items.length > 0) {
        this.observer.disconnect();
      }
    },
    watch: {
      items: {
        handler: function(items) {
          this.fadeInItems(items);
        },
      },
      itemsInternal: {
        handler: function(after, before) {
          this.faderHandler(after, before);
        }
      },
    },
    methods: {
      obsMethod(entries) {
        entries.forEach((entry) => {
          this.faderHidden = entry.intersectionRatio < this.ratio;
        });
      },
      faderHandler(after, before) {
        if (
          (before.length > 0 && after.length > 0) ||
          (before.length === 0 && after.length === 0)
        ) {
          return;
        }

        if (before.length > 0 && after.length === 0) {
          this.observer.disconnect();
          this.faderHidden = true;
        } else {
          this.$nextTick(() => {
            this.observer.observe(this.$refs.items[0]);
          });
        }
      },
      fadeInItems(items) {
        this.loading = true;
        setTimeout(() => {
          this.itemsInternal = items;
          this.loading = false;
          this.firstLoad = false;
        }, 800);
      }
    },
  }
</script>

<style scoped lang="scss">
  .discover-list {
    width: 100%;
    position: relative;

    &__wrapper {
      display: flex;
      max-width: 1300px;
      overflow-x: auto;
      padding: 20px 0;
      opacity: 1;
      transition: opacity 0.8s ease-in-out;

      &--loading {
        opacity: 0;
      }
    }

    &__fader {

      &:after {
        content: '';
        width: 60px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        will-change: opacity;
        pointer-events: none;
        z-index: 1;
        transition: linear 0.3s;
        opacity: 1;
      }

      &--hidden {

        &:after {
          transition: linear 0.3s;
          opacity: 0;
        }
      }
    }

    &__item {
      margin-left: 20px;

      &:first-child {
        margin-left: 40px;
      }

      &:last-child {
        padding-right: 20px;
      }
    }
  }
</style>