<template>
  <tooltip :with-arrow="false">
    <template slot="icon">
      <button type="button" class="tooltip-btn">
        <glyph-icon class="icon-more" />
      </button>
    </template>
    <template slot="content">
      <div class="list-group list-group--border">
        <div class="list-group__label">
          <list-label text="Want to rate or add this item to a list?" />
        </div>
        <div class="list-group__items">
          <list-item text="Login" />
        </div>
      </div>
      <div class="list-group">
        <div class="list-group__label">
          <list-label text="Not a member?" />
        </div>
        <div class="list-group__items">
          <list-item text="Sign up and join the community" />
        </div>
      </div>
    </template>
  </tooltip>
</template>

<script>
  import Tooltip from '../molecules/Tooltip.vue';
  import GlyphIcon from '../atoms/GlyphIcon.vue';
  import ListLabel from '../atoms/ListLabel.vue';
  import ListItem from '../molecules/ListItem.vue';

  export default {
    name: 'DiscoverTooltip',
    components: {
      ListItem,
      ListLabel,
      GlyphIcon,
      Tooltip,
    },
  }
</script>

<style scoped lang="scss">
  .tooltip-btn {
    border: 0;
    background: transparent;
    font-size: 1.6em;
    padding: 0;
    margin: 0;
    opacity: 0.6;

    &:focus {
      outline: 0;
    }

    &:hover {
      opacity: 1;
      filter: brightness(0) saturate(100%) invert(53%) sepia(33%) saturate(3054%) hue-rotate(156deg) brightness(98%) contrast(99%);
    }
  }

  .list-group {

    padding: 0.8rem 0;

    &--border {
      border-bottom: 1px solid rgba(33, 37, 41, 0.15);
    }
  }
</style>