<template>
  <div class="language-switcher">
    <tooltip>
      <template slot="icon">
        <language-button :lang-code="shortLangCode" />
      </template>
      <template slot="content">
        <div class="language-switcher__content">
          <language-switcher-title title="Language Preferences" />
          <div class="language-switcher__field">
            <language-select-field
              label="Default Language"
              :languages="languages"
              :selected-language-code="langCodeInternal"
              @input="handleDefaultLanguageInput"
            />
          </div>
          <div class="language-switcher__field language-switcher__field--no-margin">
            <language-select-field
              label="Fallback Language"
              :languages="languages"
              :selected-language-code="fallbackLangCodeInternal"
              :allow-reset="false"
              @input="handleFallbackLanguageInput"
            />
          </div>
        </div>
      </template>
    </tooltip>
  </div>
</template>

<script>
  import LanguageSwitcherTitle from '../atoms/LanguageSwitcherTitle.vue';
  import LanguageSelectField from '../molecules/LanguageSelectField.vue';
  import LanguageButton from '../atoms/LanguageButton.vue';
  import Tooltip from '../molecules/Tooltip.vue';

  export default {
    name: 'LanguageSwitcher',
    components: {
      Tooltip,
      LanguageButton,
      LanguageSelectField,
      LanguageSwitcherTitle,
    },
    props: {
      languages: {
        type: Array,
        required: true,
      },
      selectedLangCode: {
        type: String,
        required: true,
      },
      selectedFallbackLangCode: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        langCodeInternal: this.selectedLangCode,
        fallbackLangCodeInternal: this.selectedFallbackLangCode,
      };
    },
    computed: {
      shortLangCode() {
        return this.langCodeInternal.substring(0, 2);
      },
    },
    methods: {
      handleDefaultLanguageInput(value) {
        this.langCodeInternal = value.langCode;
        this.$emit('language-change', {
          langCode: value.langCode,
          lang: value.lang,
          type: 'defaultLang',
        });
      },
      handleFallbackLanguageInput(value) {
        this.fallbackLangCodeInternal = value.langCode;
        this.$emit('language-change', {
          langCode: value,
          lang: value.lang,
          type: 'fallbackLang',
        });
      },
    },
  };
</script>

<style scoped lang="scss">
  .language-switcher {
    position: relative;
    display: inline-block;

    &__content {
      padding: 0.8rem 0.8rem;
    }

    &__field {
      margin-bottom: 1rem;

      &--no-margin {
        margin-bottom: 0;
      }
    }
  }
</style>