<template>
  <ul class="main-menu">
    <main-menu-item v-for="(item, index) in menuItems" :key="index" :menu-data="item" />
  </ul>
</template>

<script>
  import MainMenuItem from '../molecules/MainMenuItem.vue';

  export default {
    name: 'MainMenu',
    components: {
      MainMenuItem
    },
    props: {
      menuItems: {
        type: Array,
        required: true,
      },
    },
  };
</script>

<style scoped lang="scss">
  .main-menu {
    display: flex;
    flex-direction: row;
    height: 40px;
    flex-wrap: nowrap;
    white-space: nowrap;
    border-color: #e3e3e3;
    color: #292b2c;
    width: auto;
    background: transparent;
    padding: 0;
    margin: 0;
  }
</style>