<template>
  <header
    class="header"
    ref="header"
    :class="{'header--hidden': !headerShown}"
  >
    <top-bar />
  </header>
</template>

<script>
  import TopBar from './TopBar.vue';

  export default {
    name: 'PageHeader',
    components: {
      TopBar,
    },
    data() {
      return {
        lastKnownScrollY: 0,
        headerShown: true,
      };
    },
    created() {
      document.addEventListener('scroll', this.scrollHandler)
    },
    destroyed() {
      document.removeEventListener('scroll', this.scrollHandler)
    },
    methods: {
      scrollHandler() {
        const currentScrollY = window.pageYOffset;
        const headerHeight = this.$refs.header.getBoundingClientRect().height;

        if (currentScrollY < this.lastKnownScrollY) {
          this.headerShown = true;
        } else if (currentScrollY > this.lastKnownScrollY && currentScrollY > headerHeight) {
          this.headerShown = false;
        } else if (currentScrollY === 0) {
          this.headerShown = true;
        }

        this.lastKnownScrollY = currentScrollY;
      },
    },
  };
</script>

<style scoped lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.2s linear;
    z-index: 1;

    &--hidden {
      top: -64px;
    }
  }
</style>