<template>
  <div class="popular-items">
    <div class="popular-items__heading">
      <section-title title="What's Popular" />
      <toggle-input
        label-on="On TV"
        label-off="In Theaters"
        v-model="selected"
      />
    </div>
    <div class="popular-items__list">
      <discover-list :items="items" />
    </div>
  </div>
</template>

<script>
  import SectionTitle from '../atoms/SectionTitle.vue';
  import ToggleInput from '../molecules/ToggleInput.vue';
  import DiscoverList from './DiscoverList.vue';

  import TheMovieDbApi from '../../utils/themoviedb-api';

  export default {
    name: 'PopularItems',
    components: {
      SectionTitle,
      DiscoverList,
      ToggleInput,
    },
    data() {
      return {
        api: new TheMovieDbApi(),
        items: [],
        selected: true,
        alt: false,
      };
    },
    mounted() {
      this.getPopularItems();
    },
    destroyed() {
      this.$cache.clear();
    },
    computed: {
      itemType() {
        return this.selected ? 'tv' : 'movie';
      },
    },
    methods: {
      getPopularItems() {
        if (this.$cache.exists(this.itemType)) {
          this.items = this.$cache.getItem(this.itemType);
        } else {
          this.api.getPopularItems(this.itemType)
          .then((data) => {
            this.items = data.results.map(item => this.formatItem(item));
            this.$cache.setItem(this.itemType, this.items);
          })
          .catch((reason) => {
            alert(reason);
          });
        }
      },
      formatItem(apiItem) {
        return {
          date: (this.itemType === 'tv' ? apiItem.first_air_date : apiItem.release_date) || '',
          rating: parseInt(apiItem.vote_average * 10, 10),
          title: this.itemType === 'tv' ? apiItem.name : apiItem.title,
          imageUrl: `https://image.tmdb.org/t/p/w220_and_h330_face${apiItem.poster_path}`,
          link: `https://themoviedb.org/${this.itemType}/${apiItem.id}`,
        }
      },
    },
    watch: {
      selected() {
        this.getPopularItems();
      },
    },
  }
</script>

<style scoped lang="scss">
  .popular-items {

    &__heading {
      padding: 0 40px;
      display: flex;
      align-items: center;
    }

    &__list {
      transition: opacity 0.5s ease-in-out;
      opacity: 1;

      &--loading {
        opacity: 0;
      }
    }
  }
</style>