<template>
  <form class="quick-search">
    <div class="quick-search__input-wrapper">
      <div class="quick-search__input">
        <quick-search-field
          placeholder="Search for a movie, tv show, person..."
          @focusChanged="onFocusChange"
          @escPressed="resultsOpen = !resultsOpen"
        />
      </div>
    </div>
    <ul
      v-if="resultsOpen"
      class="quick-search__results"
      @mousedown.prevent
    >
      <li
        v-for="(result, index) in results"
        class="quick-search__result-wrapper"
        :key="index"
      >
        <quick-search-result-item
          class="quick-search__result-item"
          :icon="result.icon"
          :location="result.location"
          :text="result.text"
          @selected="$emit('selected', $event)"
        />
      </li>
    </ul>
  </form>
</template>

<script>
  import QuickSearchField from '../molecules/QuickSearchField.vue';
  import QuickSearchResultItem from '../molecules/QuickSearchResultItem.vue';

  export default {
    name: 'QuickSearch',
    components: {
      QuickSearchResultItem,
      QuickSearchField,
    },
    data() {
      return {
        // dummy data to be replaced with prop
        results: [
          {
            text: 'Test',
            location: 'in TV',
            icon: 'screen',
          },
          {
            text: 'Test 1',
            location: 'in Movies',
            icon: 'film',
          },
          {
            text: 'Test4',
          },
        ],
        resultsOpen: false,
      };
    },
    methods: {
      onFocusChange(value) {
        this.resultsOpen = value;
        this.$emit('focusChanged', value);
      },
    },
    mounted() {
      this.$store.subscribeAction((payload) => {
        if (payload.type === 'setUserAction') {
          alert(payload.payload);
        }
      })
    }
  }
</script>

<style scoped lang="scss">
  .quick-search {
    width: 100%;
    background-color: #fff;

    &__input-wrapper {
      display: flex;
      justify-content: center;
      border-top: 1px solid rgb(227, 227, 227);
      border-bottom: 1px solid rgb(227, 227, 227);
    }

    &__input {
      width: 100%;
      max-width: 1300px;
      padding: 0 40px;
    }

    &__results {
      padding: 0 0 20px 0;
      margin: 0;
      list-style-type: none;
      width: 100%;
      border-bottom: 1px solid rgb(227, 227, 227);
    }

    &__result-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid rgb(227, 227, 227);
      transition-property: color, background-color, outline-color, box-shadow;
      transition-duration: 200ms;
      transition-timing-function: ease;

      &:hover {
        color: #16181b;
        background-color: #f2f2f2;
      }
    }

    &__result-item {
      width: 100%;
      max-width: 1300px;
      padding: 3px 40px 4px 20px;
    }
  }
</style>