<template>
  <ul class="menu">
    <li class="menu__item menu__item--no-margin">
      <create-movie-tv-item />
    </li>
    <li class="menu__item">
      <language-switcher
        :languages="languages"
        selected-lang-code="en-US"
        selected-fallback-lang-code="en-US"
      />
    </li>
    <li class="menu__item menu__item--margin-minus-pt-five">
      <main-menu-link label="Login" @click.native="$store.dispatch('setUserAction', 'Admin')" />
    </li>
    <li class="menu__item menu__item--margin-minus-one">
      <main-menu-link label="Join TMDb" />
    </li>
    <li
      class="menu__item menu__item--margin-minus-pt-five menu__item--font-large menu__item--pointer"
    >
      <glyph-icon
        class="icon-search icon-search--blue"
        @click.native="onSearchOpen"
        v-if="!searchOpened"
      />
      <glyph-icon
        class="icon-close icon-close--white"
        @click.native="onSearchClose"
        v-else
      />
    </li>
  </ul>
</template>

<script>
  import { languageList } from '../../data/languageList';
  import CreateMovieTvItem from '../molecules/CreateMovieTvItem.vue';
  import LanguageSwitcher from './LanguageSwitcher.vue';
  import MainMenuLink from '../atoms/MainMenuLink.vue';
  import GlyphIcon from '../atoms/GlyphIcon.vue';

  export default {
    name: 'RightMenu',
    components: {
      GlyphIcon,
      MainMenuLink,
      LanguageSwitcher,
      CreateMovieTvItem,
    },
    props: {
      searchOpened: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        languages: languageList,
      };
    },
    methods: {
      onSearchOpen() {
        this.$emit('searchOpened');
      },
      onSearchClose() {
        this.$emit('searchClosed');
      },
    },
  }
</script>

<style scoped lang="scss">
  .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;

    &__item {
      display: flex;
      margin-left: 30px;

      &--no-margin {
        margin: 0;
      }

      &--margin-minus-pt-five {
        margin-left: calc(30px - 0.5rem);
      }

      &--margin-minus-one {
        margin-left: calc(30px - 1rem);
      }

      &--font-large {
        font-size: 1.82em;
      }

      &--pointer {
        cursor: pointer;
      }
    }
  }
</style>