<template>
  <div class="hero">
    <div class="hero__content">
      <div class="hero__text">
        <hero-title text="Welcome." />
        <hero-subtitle text="Millions of movies, TV shows and people to discover. Explore now." />
      </div>
      <div class="hero__search">
        <search-field
          btn-label="Search"
          placeholderText="Search for a movie, tv show, person......"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import HeroTitle from '../atoms/HeroTitle.vue';
  import HeroSubtitle from '../atoms/HeroSubtitle.vue';
  import SearchField from '../molecules/SearchField.vue';

  export default {
    name: 'SearchHero',
    components: {
      SearchField,
      HeroSubtitle,
      HeroTitle,
    },
  }
</script>

<style scoped lang="scss">
  .hero {
    min-height: 300px;
    height: calc(100vh / 2.5);
    max-height: 360px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(3, 37, 65, 0.8) 0%, rgba(3, 37, 65, 0) 100%), url(../../images/hero-bg.jpg);
    color: white;

    &__content {
      padding: 30px 40px;
      width: 100%;
    }

    &__text {
      padding-bottom: 50px;
    }
  }
</style>