<template>
  <div class="topbar">
    <div class="topbar__content">
      <div class="topbar__left">
        <div class="topbar__logo">
          <logo :logo="logo" :width="154" :height="20"/>
        </div>
        <div class="topbar__menu">
          <main-menu :menu-items="menuItems" />
        </div>
      </div>
      <div class="topbar__right">
        <right-menu
          @searchOpened="searchOpened = true;"
          @searchClosed="searchOpened = false"
          :search-opened="searchOpened"
        />
      </div>
    </div>
    <div class="topbar__search" v-if="searchOpened">
      <quick-search />
    </div>
  </div>
</template>

<script>
  import { mainMenu } from '../../data/mainMenu';
  import MainMenu from './MainMenu.vue';
  import Logo from '../atoms/Logo.vue';
  import logo from '../../images/logo.svg';
  import RightMenu from './RightMenu.vue';
  import QuickSearch from './QuickSearch.vue';

  export default {
    name: 'TopBar',
    components: {
      RightMenu,
      Logo,
      MainMenu,
      QuickSearch,
    },
    data() {
      return {
        menuItems: mainMenu,
        logo: logo,
        searchOpened: false,
      };
    },
    mounted() {
      window.addEventListener('keyup', this.hotKeys);
    },
    destroyed() {
      window.removeEventListener('keyup', this.hotKeys);
    },
    methods: {
      hotKeys(event) {
        if (event.target.matches('input') || event.target.matches('textarea')) {
          return false;
        }

        if (event.keyCode === 83 && !this.searchOpened) {
          this.searchOpened = true;
        }
      },
    },
  }
</script>

<style scoped lang="scss">
  .topbar {
    background-color: rgb(3, 37, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
    height: 64px;

    &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
      max-width: 1300px;
      width: 100%;
      padding: 0 40px;
      height: 100%;
    }

    &__left,
    &__right {
      display: flex;
      align-items: center;
    }

    &__logo {
      margin-right: 16px;
    }

    &__search {
      position: absolute;
      width: 100%;
      top: 64px;
    }
  }
</style>